.container-fluid
  .row
    %nav.navbar.top-header.navbar-fixed-top
      .navbar-brand
        %p.text-center.YuGothic What is
        %p.zousan.text-center ショクブンカ
      .collapse.navbar-collapse#navbarSupportedContent
        %ul.navbar-nav.pull-right
          %li.nav-item.nav-link.active 店舗紹介
          %li.nav-item.nav-link イベント
          %li.nav-item ブログ
          %li.nav-item スペシャル
  .row
    .header_image.text-center
      .center_logo
        %h1.zousan カ ナ マ チ
        %h2.zousan ショクブ ンカ
  .row
    .attributes
      %nav
        %ul.navbar-nav.center-block
          %li.nav-item うまい
          %li.nav-item 安い
          %li.nav-item おしゃれ
          %li.nav-item ボリューム
          %li.nav-item コスパ

  .row.article-search
    %form
      %input{class: "form-control", placeholder: "気になるワードを検索"}
        %i.fas.fa-search

  .row.article-list
    %h1.text-center 記事
    .col-md-4.col-xs-12
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
    .col-md-4.col-xs-6
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
    .col-md-4.col-xs-6
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
    .col-md-4.col-xs-6
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
    .col-md-4.col-xs-6
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
    .col-md-4.col-xs-6
      .article-card
        = image_tag 'gyoza.jpg', class: "img-thumbnail"
        .article-info
          .tags
            %ul
              %li ハンバーグ
              %li 洋食
              .release-date
                %p 2018 2.10
          .article-title
            %h2 絶品ハンバーグを食べに行ったら天国だった話
          .article-author
            %images
